.a-1199990213 {
  text-align: center
}
.a-708588676 {
  height: 40vmin
}
.a-711170854 {
  pointer-events: none
}
.a1323574916 {
    display: block
}
.a-694909644 {
  background-color: #282c34
}
.a275980954 {
  min-height: 100vh
}
.a1566835490 {
  display: flex
}
.a-68617674 {
  flex-direction: column
}
.a-2038333880 {
  align-items: center
}
.a613028484 {
  justify-content: center
}
.a953519296 {
  font-size: calc(10px + 2vmin)
}
.a-160495615 {
  color: white
}
.a1657986799 {
  color: #61dafb
}