.AppLogo {
  height: 40vmin;
  pointer-events: none;
  color: white;
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) { */
  .AppLogo {
    animation: App-logo-spin infinite 20s linear;
  }
/* } */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

